In [3]:
n = int(input())
a = dict()
for i in range(1,n+1):
    a[i] = i*i
print(a)

 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [8]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

a = {}

for i in (dic1,dic2,dic3):
    a.update(i)
print(f"The Final dictionary is {a} ")

The Final dictionary is {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def arg(i):
    if i in d:
        print("The value is present in the list.")
    else:
        print("The value is not present in the list.")

arg(1)

The value is present in the list.

In [24]:
d = {'x': 10, 'y': 20, 'z': 30} 

for i,y in d.items():
    print(f"{i} is {y} ")

x is 10
y is 20
z is 30

In [26]:
n = int(input("Enter the Value:"))

a = dict()

for i in range(1,n+1):
    a[i] = i*i
print(a)

Enter the Value: 15

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [27]:
d1 = {1: 10, 2: 20, 3: 30, 4: 40}
d2 = {5: 50, 6: 60}

d1.update(d2)
print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
d = {1: 10, 2: 20, 3: 30, 4: 40}
for i,y in d.items():
    print(i,y)

1 10
2 20
3 30
4 40

In [32]:
d = {1: 10, 2: 20, 3: 30, 4: 40}
sum = 0
for i in d.values():
    sum = sum+i
print(f"The sum of the values of dictionary is: {sum} ")

The sum of the values of dictionary is: 100

In [34]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
for i in my_dict.values():
    i = i*i
print(i)

61009

In [35]:
keys = ['red', 'green', 'blue']
values = ['#FF0000', '#008000', '#0000FF']

colors = dict

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [54]:
my_dict = {'x': 500, 'y': 5874, 'z': 560}
max = max(my_dict.values())
print(type(max),max)

<class 'int'> 5874

In [60]:
sd = {
    'id1': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id2': {
        'name': ['David'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id3': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id4': {
        'name': ['Surya'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    }
}

res = {}

for i,j in sd.items():
    if j not in res.values():
        res[i] = j

print(res)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [1]:
from collections import counter
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
d = counter(d1) + counter(d2)
print(d)

ImportError: cannot import name 'counter' from 'collections' (D:\Anaconda3\Lib\collections\__init__.py)

*
* *
* * *
* * * *
* * * * *

In [7]:
n = [2,33,4,52,1,2]
for i in n:
    if(i%2==0):
        print(i)
    else:
        break

2

In [47]:
a = []
n = int(input())

for i in range(n):
    val = int(input())
    a.append(val)

b = set(a)
c = list(b)
c.sort()
print(c)
print(c[1])

 5
 1
 2
 3
 3
 42

[1, 2, 3, 42]
2

In [56]:
l1 = [1,2,3,4,5,6]
l2 = [1,2,3,4,7]
s1 = set(l1)
s2 = set(l2)
s3 = s1.intersection(s2)
l3 = list(s3)
print(l3)

[1, 2, 3, 4]

In [58]:
l1 = [1,2,3,4,5,6]
l2 = [1,2,3,4,7]
l1.remove(6)
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 7]

In [4]:
l1 = [1,2,3,4,5,6]

l2 = print(*l1)

1 2 3 4 5 6

In [3]:
s = {1,2,3,4}
print(type(s),s)

<class 'set'> {1, 2, 3, 4}