In [ ]:
n = 5
for r in range(1,n+1):
    for c in range(r):
        print("*",end= '')
    print()

In [ ]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(" ",end = '')
    for c in range(1,r+1):
        print("",c,end = '')
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [ ]:
n = 5
for r in range(1,n+1):

    for c in range(n-r+1):
        print("* ",end = '')
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5
for r in range(1,n+1):
    for s in range(r-1):
        print(" ",end = '')
    for c in range(n-r+1):
        print("* ",end = '')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
n = 5

for r in range(1,2*n+1):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n-total
    for s in range(nfs+1):
        print(' ',end = '')
    for c in range(1,total+1):
        print("",c,end = '')
    print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5
   1 2 3 4
    1 2 3
     1 2
      1

In [ ]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    for c in range(1,total+1):
        print(chr(65+c),end = '')
    print()

B
BC
BCD
BCDE
BCDEF
BCDE
BCD
BC
B

In [ ]:
n = 5

for r in range(1,2*n+1):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n
    nfs = n - total
    for s in range(nfs+1):
        print(' ',end ='')
    for c in range(1,total+1):
        print(chr(65+c-1),end = '')
    print()

 ABCDE
  ABCD
   ABC
    AB
     A
     A
    AB
   ABC
  ABCD
 ABCDE

In [ ]:
n = 5
for r in range(1,n+1):
    for c in range(1,n+1):
        if(r==1 or r==n or c == 1 or c==5):
            print(chr(65+c-1),end = '')
        else:
            print(" ",end = '')
    print()

ABCDE
A   E
A   E
A   E
ABCDE

In [ ]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        if(r==5 or c==1 or c==r):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

*
* *
*   *
*     *
* * * * *

In [ ]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(" ",end = '')
    for c in range(1,r+1):
        if( r==5 or c == 1 or c == r):
            print("* ",end= '')
        else:
            print("  ",end = '')
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [ ]:
n = 5
for r in range(1,2*n+1):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n - total
    for s in range(nfs+1):
        print(' ',end = '')
    for c in range(1,total+1):
        if(c==1 or c==r or c == total):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

     *
    * *
   *   *
  *     *
 *       *
  *     *
   *   *
    * *
     *

In [ ]:
n = 5
for r in range(1,2*n+1):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n
    nfs = n - total
    for s in range(nfs+1):
        print(" ",end = '')
    for c in range(1,total+1):
        if(c==1 or c==total  or r==1 or r==2*n):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

 * * * * *
  *     *
   *   *
    * *
     *
     *
    * *
   *   *
  *     *
 * * * * *

In [ ]:
n = 5

for r in range(1,n+1):
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print(c,end= ' ')
        else:
            print('  ',end = '')
    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(' ',end = '')
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print('* ',end = '')
        else:
            print('  ',end = '')
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [ ]:
n = 5
for r in range(1,2*n+1):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n+1
    for c in range(1,total+1):
        if(c==1 or r==1 or c==total or r==2*n):
            print('*',end = '')
        else:
            print(' ',end = '')
    print()

*****
*  *
* *
**
*
**
* *
*  *
*   *
******

In [ ]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        print(chr(65+c-1),end = '')
    print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(' ',end = '')
    for c in range(1,r+1):
        if(r==5 or c==1 or c==r):
            print(c,end = '')
        else:
            print(" ",end = '')
    print()

    1
   12
  1 3
 1  4
12345

In [ ]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    for c in range(1,total+1):
        if(c==1 or c==total):
            print("* ",end = '')
        else:
            print(' ',end = '')
    print()

*
* *
*  *
*   *
*    *
*   *
*  *
* *
*

In [ ]:
n = 5
st = 68
for r in range(1,n+1):
    for c in range(1,r+1):
        if(r==2):
            print(chr(st),end = ' ')
        elif(r==3):
            print(chr(st),end = '  ')
        elif(r==4):
            print(chr(st),end = '   ')
        elif(r==5):
            print(chr(st),end = '    ')
        else:
            print(chr(st),end = '')
        st+=1
    print()

D
E F
G  H  I
J   K   L   M
N    O    P    Q    R