In [25]:
n = 5
for r in range(1,n+1):
    num = 5
    for c in range(1,n-r+2):
        print(num-r+1,end = '')
        num-=1
    print()

54321
4321
321
21
1

In [54]:
n = 5
for r in range(1,n+1):
    num = 1
    for s in range(1,n-r+1):
        print(" ",end = '')
    for c in range(1,r+1):
        print(num,end = '')
        num+=1
    print()

    1
   12
  123
 1234
12345

In [53]:
n = 5
num = 1
for r in range(1,n+1):
    
    for s in range(1,n-r+1):
        print(" ",end ='')
    for c in range(1,r+1):
        print(chr(65+num-1),"",end = '')
        num+=1
    print()

    A
   B C
  D E F
 G H I J
K L M N O

In [1]:
n = 5
for r in range(1,n+1):
    for c in range(1,n-r+2):
        print("* ",end = '')
    for s in range(1,r):
        print("    ",end = '')
    for f in range(1,n-r+2):
        print("*",end =' ')
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [74]:
n = 5
for r in range(1,n+1):
    for s in range(1,r+1):
        print(" ",end = '')
    for f in range(1,n-r+2):
        print("*",end ='')
    print()

 *****
  ****
   ***
    **
     *

In [87]:
n = 5

for r in range(1,n+1):
    num = 1
    for c in range(1,n-r+2):
        print(num**2,end = ' ')
        num+=2
    print()

1 9 25 49 81
1 9 25 49
1 9 25
1 9
1

In [2]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        print(chr(68+c-r+1),end = '')
    print()

E
DE
CDE
BCDE
ABCDE

In [93]:
n = 5
num = 1
for r in range(1,n+1):
    for c in range(1,r+1):
        if(r%2==0):
            print(c,end = '')
        else:
            print(num +r-c,end = '')
    print()

1
12
321
1234
54321

In [108]:
n = 5

for r in range(1,n+1):
    num = 1
    for c in range(1,n-r+2):
        print(num+c-1,end = ' ')
        num+=1
    print()

1 3 5 7 9
1 3 5 7
1 3 5
1 3
1

In [3]:
n = 5

for r in range(1,n+1):
    for c in range(1,r+1):
        print("* ",end = '')
    for s in range(1,n-r+1):
        print("    ",end = '')
    for j in range(1,r+1):
        print("* ",end = '')
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [115]:
n = 5

for r in range(1,n+1):
    num = 0
    for c in range(1,r+1):
        print(num+r,end = ' ')
        num+=5
    print()

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [116]:
n = 5
for r in range(1,n+1):
    for c in range(1,n-r+2):
        print(r,end = '')
    print()

11111
2222
333
44
5

In [117]:
n = 5
for r in range(1,n+1):
    num = 0
    for c in range(1,n-r+2):
        print(num,end = '')
        num+=1
    print()

01234
0123
012
01
0

In [122]:
n = 5

for r in range(1,n+1):
    for c in range(1,r+1):
        print(r*2-1,end = '')

    print()

1
33
555
7777
99999

In [124]:
n = 5
for r in range(1,n+1):
    num = 5
    for c in range(1,n-r+2):
        print(num-r+1,end = ' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [129]:
n = 5
num = 1
for r in range(1,n+1):
    for c in range(1,r+1):
        print(r-c+1,end = '')
    print()

1
21
321
4321
54321

In [131]:
n = 5
for r in range(1,n+1):
    num=5
    for c in range(1,n-r+2):
        print(num-r+1,end = '')
        num-=1
    print()

54321
4321
321
21
1

In [139]:
n = 5
for r in range(1,n+1):
    for s in range(1,n-r+1):
        print(" ",end ='')
    for c in range(1,r+1):
        print(c,end = '')
    print()

    1
   12
  123
 1234
12345

In [145]:
n = 5
for r in range(1,n+1):
    for c in range(1,n+1):
        if(c<=r):
            print(r,end ='')
        else:
            print(c,end = '')
    print()

12345
22345
33345
44445
55555

In [147]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        print(r*c,end = ' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [178]:
n = 5
for r in range(1,n+1):
    for s in range(1,n-r+1):
        print('  ',end = '')
    for c in range(1,r*2):
        if(c==1 or r==5 or r==2 or r==c or c == r*2-1):
            print("* ",end ='')
        else:
            print("  ",end = '')
    print()

        *
      * * *
    *   *   *
  *     *     *
* * * * * * * * *

In [211]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n - total
    for c in range(1,total+1):
        if(c==1 or c==total):
            print("*",end = '')
        else:
            print(" ",end = '')
    for s in range(nfs):
        print("  ",end ='')
    for j in range(1,total+1):
        if(j==1 or j==total):
         print("*",end = '')
        else:
            print(" ",end = '')
    print()

*        *
**      **
* *    * *
*  *  *  *
*   **   *
*  *  *  *
* *    * *
**      **
*        *

In [217]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n+1
    nfs = n - total
    for c in range(1,total+1):
        print("* ",end = '')
    for s in range(nfs):
        print("    ",end = '')
    for j in range(1,total+1):
        print("* ",end ='')
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [4]:
n = 5
for r in range(1,n+1):
    num = 5
    for c in range(1,n-r+2):
        print(num+r-1,end = '')
        num+=1
    print()

56789
6789
789
89
9

In [6]:
n = 5
for r in range(1,n+1):
    num = 5
    for c in range(1,n-r+2):
        print(num-r+1,end = '')
        num-=1
    print()

54321
4321
321
21
1

In [7]:
n = 5
for r in range(1,n+1):
    for c in range(1,n+1):
        if(c<=r):
            print(r,end = '')
        else:
            print(c,end = '')
    print()

12345
22345
33345
44445
55555

In [10]:
n = 5
for r in range(1,n+1):
    num = 1
    for c in range(1,n-r+2):
        print(num**2,end = '  ')
        num+=2
    print()

1  9  25  49  81
1  9  25  49
1  9  25
1  9
1

In [19]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        print(chr(69+c-r),end = '')
    print()

E
DE
CDE
BCDE
ABCDE

In [25]:
n = 5
for r in range(1,n+1):
    num = 5
    num1= 5
    for c in range(1,n+1):
        if(r>c):
            print(num-r+1,end = '')
            num+=1
        else:
            print(num1,end = '')
            
    print()

55555
45555
34555
23455
12345

In [26]:
n = 5
for r in range(1,n+1):
    num = 0
    for c in range(1,r+1):
        if(r%2==0):
            print(c,end = '')
        else:
            print(r-num,end = '')
            num+=1
    print()

1
12
321
1234
54321

In [32]:
a = [1,2,3,4,5,6]

print(a[-2:] +a[:-2])

[5, 6, 1, 2, 3, 4]

In [43]:
#hello world and practice makes perfect and hello world again
a = 'hello world and practice makes perfect and hello world again'
a = list(set(list(a.split())))

for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i]>a[j]):
            a[i],a[j] = a[j],a[i]
st = ''
for k in a:
    st = st +" "+ k
print(st)

 again and hello makes perfect practice world

In [48]:
a = 'piyush sharma'
b = ''
c = ''
for i in a:
    if i not in b:
        b=b+i
    else:
        c = c+i
print(c)

sha

In [52]:
a = [1,2,3,3,4,5,6,7,6,6]
b = []
c = []
for i in a:
    if i not in b:
        b.append(i)
    else:
        c.append(i)
print(c)

[3, 6, 6]

In [62]:
d = {1:'ashutosh',2:'vikram',3:'Deepak',4:'yash'}

ls = list(d.keys())[-2]
d[ls] = 'vikki'

print(d)

{1: 'ashutosh', 2: 'vikram', 3: 'vikki', 4: 'yash'}