In [2]:
a = "Ashutosh"
rev = ''
for i in a:
    rev = i + rev
print(rev)

hsotuhsA

In [5]:
a = "racecar"
temp = a
rev = ''
for i in a:
    rev = i + rev
if(rev==temp):
    print("Palindrome")
else:
    print("Not")

Palindrome

In [11]:
def sub(a,s,e):
    return a[s:e]
sub('ashutosh',2,4)

'hu'

In [24]:
def st(a,s,e):
    b = a[0:4]
    print(b)
    print(b.index('s'))
st('ashutosh',0,4)

ashu
1

In [29]:
a = "Ashutoshhh"
b = set(a)
print(b)

{'t', 'h', 's', 'u', 'o', 'A'}

In [31]:
a = 'asshuttoshh'
c = 's'
count = 0
for i in a:
    if(i==c):
        count+=1
print(count)

3

In [34]:
a = 'aashuutoshhhh     '
a.strip()

'aashuutoshhhh'

In [48]:
a = ['Ashutosh','Yashika','Meenal']
rev = ''
for i in a:
    rev = i +" " + rev
print(rev)

Meenal Yashika Ashutosh

ashutohstiwa

ashutoshisnamemy

In [57]:
def uo(rows):
    a,b = 0,1
    for i in range(rows):
        row_fb = []
        for j in range(i+1):
            row_fb.append(a)
            a,b = b,a+b
        print(' '.join(map(str,row_fb)))
        print()
uo(5)

0

1 1

2 3 5

8 13 21 34

55 89 144 233 377