In [6]:
a = [12,3,4,47,5,6,16]
max = 0

for i in a:
    if(i >max):
        max = i
print(a.index(max))
print(max)

3
47

In [10]:
n = 5
fact = 1

for i in range(1,n+1):
    fact = fact*i
print(fact)

120

In [11]:
n = int(input())
while(n!=0):
    n = int(input())

 2
 3
 4
 2
 0

In [12]:
a = ['akdakd','asdkal','lasdklakd']
for i in a:
    print(i.upper())

AKDAKD
ASDKAL
LASDKLAKD

In [14]:
n = 123
rev = 0

while(n!=0):
    digit = n%10
    rev = (rev*10) + digit
    n//=10
print(rev)

321

In [17]:
a = 0
b = 1
n = 1
while n <= 10:
    print(a)
    a, b = b, a + b
    n += 1

0
1
1
2
3
5
8
13
21
34

In [22]:
d = {'as':1,'sdja':12,'asd':76,'uyw':34}
for i,j in d.items():
    print(i,':',j)

as : 1
sdja : 12
asd : 76
uyw : 34

In [23]:
n =123
sum =0 
while(n!=0):
    d = n%10
    sum = d+sum
    n//=10
print(sum)

6

In [24]:
a = "Ashutosh"
rev = ''

for i in a:
    rev = i+rev
print(rev)

hsotuhsA

In [39]:
a = ['akdakd','asdkal','lasdklakd','aadjadkjsadddddd']
max = 0
for i in a:
    if(len(i)>max):
        max = len(i)
print(len(i))
print(i)

16
aadjadkjsadddddd

In [40]:
a = ['akdakd','klk','iqoq','ytoe']
for i in a:
    if(i[0]=='a' or i[0]=='e' or i[0]=='i' or i[0]=='o' or i[0]=='u'):
        print(i)

akdakd
iqoq

In [56]:
a = [1,2,3,4,5,6,7,8,20]
l = []
for i in a:
    if(i%2==0):
        l.append(i**2)
print(l)

[4, 16, 36, 64, 400]

In [58]:
n = 1
fact = 1
while(n<=5):
    fact = fact * n
    n+=1
print(fact)

120

In [67]:
a = [12,3,4,5]
b = [32,4,35,66]
sum = 0
sum2 = 0
for i in zip(a,b):
    sum = sum + i[0]
    sum2 = sum2+i[1]
print(sum)
print(sum2)

24
137

In [68]:
a = ['jd','iwis','ia','akdakd','asdkal','jda','adja','lasdklakd','aadjadkjsadddddd']
for i in a:
    if(len(i)>5):
        print(i)

akdakd
asdkal
lasdklakd
aadjadkjsadddddd

In [79]:
import random
n = 1
while(n!=7):
    n = random.randint(1,10)
    print(n)

1
6
9
10
1
5
1
1
8
4
8
9
10
1
9
3
5
3
10
8
7

In [82]:
a = [(1,2),(2,4),(4,6)]
for i in a:
    if(i[0]%2==0 and i[1]%2==0):
        print(i)

(2, 4)
(4, 6)

In [1]:
a = [12,34,758,32]
max = 0
for i in a:
    if(i>max):
        max = i
print(a.index(max))

2

In [8]:
n = 123
temp = n
rev = ''
a = str(n)
for i in a:
    rev = i + rev
print(rev)
b = int(rev)
if(b == temp):
    print("Pali")
else:
    print("Not")

321
Not

In [22]:
def count(l,val):
    count = 0
    for i in a:
        if(i==val):
            count+=1
    print(count)
count([])

3

In [21]:
a = [1,2,2,2]
v = 2
count = 0

for i in a:
    if(i==v):
        count = count+1
print(count)

3

In [2]:
class Car:
    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year
    def des(self):
        print(f"The Car model is {self.make}")
        print(f"The cars model is {self.model} ")
        print(f"The car is made in the year {self.year} ")
a = Car("Tiei","Verna",2016)
a.des()

The Car model is Tiei
The cars model is Verna
The car is made in the year 2016

In [4]:
class Rad:
    def __init__(self,radius):
        self.radius = radius
    def circum(self):
        return self.radius*3.14*2

a = Rad(12)
a.circum()

75.36

In [15]:
class Animal:
    def __init__(self,sound):
        self.__sound = sound
    def make_sound(self):
        raise NotImplementedError("DJs")
class Dog(Animal):
    def make_sound(self):
        print(f"The dog make {self.__sound}")
class Cat(Animal):
    def make_sound(self):
        print(f"The cat {self.sound} ")

a = Dog("Woof")
a.sound

AttributeError: 'Dog' object has no attribute 'sound'

In [17]:
class Shape:
    def area(self):
        raise NotImplementedError("XYZ")
class Traingle(Shape):
    def __init__(self,height,base):
        self.height = height
        self.base = base
    def area(self):
        return 1/2*self.base*self.height
class Square(Shape):
    def __init__(self,side):
        self.side = side
    def area(self):
        return self.side**2

a = Traingle(12,34)
a.area()

204.0

In [20]:
class Lib:
    def __init__(self,books,title):
        self.books = books
        self.title = title
    def add(self):
        n = int(input())
        for i in range(n):
            val = input()
            self.books.append(val)
        print(self.books)
        for b in self.books:
            if(b=='Vk'):
                print("Found")
            else:
                print("Not Founded")
a = Lib([],[])
a.add()

 2
 Vk
 ad

['Vk', 'ad']
Found
Not Founded

In [29]:
class Account:
    def __init__(self,bal,amount):
        self.amount = amount
        self.__bal = bal
    def get_bal(self):
        self.__bal = self.amount + self.__bal
        print(f"The actual balance is {self.__bal} ")
    def get(self):
        return self.__bal
a = Account(200,300)
a.get_bal()

The actual balance is 500

In [19]:
class Book:
    def __init__(self,title,author):
        self.__title = title
        self.__author = author
    def get_title(self):
        return self.__title
    def set_title(self,title):
        self.__title = title
    def get_author(self):
        return self.__author
    def set_author(self):
        self.__author = author
a = Book("Virat Kohli","Me")
a.set_title("New VK")
a.get_title()

'New VK'

In [35]:
class Circle:
    def __init__(self,radius):
        self.__radius = radius
    def set_rad(self,radius):
        self.__radius = radius
    def get_area(self):
        return 3.14*self.__radius**2
a = Circle(23)
a.set_rad(43)
a.get_area()

5805.860000000001

In [41]:
class Lib:
    def __init__(self,books):
        self.__books = books
    def add(self):
        val = input()
        self.__books.append(val)
    def remove(self):
        i = input()
        self.__books.append(i)
    def show(self):
        return self.__books

a = Lib(["Ashutosh","Ravi","Meenal","Yashika","Harsh"])
a.remove()
a.show()

 Ravi

['Ashutosh', 'Ravi', 'Meenal', 'Yashika', 'Harsh', 'Ravi']

In [43]:
class Shape:
    def area(self):
        raise NotImplementedError("XYZ")

class Triangle(Shape):
    def __init__(self,he,ba):
        self.__he = he
        self.__ba = ba
    def area(self):
        return self.__he*self.__ba*1/2
class Ellipse(Shape):
    def __init__(self,a,b):
        self.__a = a
        self.__b = b
    def area(self):
        return self.__a*self.__b*3.14

18.84

In [56]:
class Emp:
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        raise NotImplementedError("XYZ")

class Manager(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary*2

class Intern(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary/2


a = Manager(24000)
a.cal()

48000

In [58]:
class Bird:
    def fly(self):
        raise NotImplementedError("XYZ")
class Sparrow(Bird):
    def __init__(self,fl):
        self.fl = fl
    def fly(self):
        print(f"This will {self.fl} ")
class Eagle(Bird):
    def __init__(self,l):
        self.l = l
    def fly(self):
        print(f"This will {self.l} ")
a = Sparrow("Fly")
a.fly()
b = Eagle("jd")
b.fly()

This will Fly
This will jd

In [67]:
class Emp:
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        raise NotImplementedError("XYZ")

class Manager(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary*2
class Intern(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary/2

a = Intern(24000)
a.cal()

b = Manager(24000)
b.cal()

48000

In [3]:
class Emp:
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        raise NotImplementedError("XYZ")

class Manager(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary*2

class Intern(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary/2


b = Manager(25000)
b.cal()

a = Intern(4300)
a.cal()

2150.0

In [4]:
def make(fun):
    def first(n):
        print("How are you",n)
        fun("Good")
        print("Bye function ended")
    return first

@make
def new(h):
    print("How is it ",h)
new('ashu')

How are you ashu
How is it  Good
Bye function ended

In [6]:
def fun(n):
    return n*2

a = [12,3,4]
res = list(map(fun,a))
print(res)

[24, 6, 8]

In [13]:
a = [1,2,3,4]
def an(x):
    return x*2

ad = list(filter(an,a))
print(ad)

[1, 2, 3, 4]

In [21]:
class Book:
    def __init__(self,book,author):
        self.__book = book
        self.__author = author
    def get_book(self):
        return self.__book
    def set_book(self,book):
        self.__book = book
    def get_author(self):
        return self.__author
    def set_author(self,author):
        self.__author = author

a = Book("Virat Kohli","XYZ")
a.set_book("VK")
a.get_book()

'VK'

In [24]:
class Book:
    def __init__(self,title,author):
        self.__title = title
        self.__author = author
    def get_title(self):
        return self.__title
    def set_title(self,title):
        self.__title = title
    def get_author(self):
        return self.__author
    def set_author(self,author):
        self.__author = author

a = Book("VK","Me")
a.set_author("virat")
a.get_author()

'virat'

In [27]:
class Emp:
    def __init__(self,sal):
        self.__sal = sal
    def cal(self):
        raise NotImplementedError("XYZ")

class Man(Emp):
    def __init__(self,sal):
        self.__sal = sal
    def cal(self):
        return self.__sal*2

class Intern(Emp):
    def __init__(self,sal):
        self.__sal = sal
    def cal(self):
        return self.__sal/2

a = Intern(24000)
a.cal()

12000.0

In [29]:
def he(a,l):
    for i in a:
        x = lambda y:(i) if i%x==0
        l.append(x(2))
    print(l)
he([1,2,3,4],[])

SyntaxError: expected 'else' after 'if' expression (252998395.py, line 3)

In [1]:
import pandas as pd

In [2]:
data = pd.read_feather("C://Users//delli//Downloads//Sales_data.ftr")

In [3]:
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,None,None,None,None,None,None
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [13]:
#File handling
#read
#write
#append

content = open("C://Users//delli//OneDrive//Desktop//C Questions(Patterns)//Hollow Patterns.txt",'w')
print(content.write('abe'))
content.close()

3

In [22]:
with open("C://Users//delli//OneDrive//Desktop//C Questions(Patterns)//Hollow Patterns.txt",'r') as file:
    print(file.read())

abcesdadadabcesdadad

In [20]:
with open("C://Users//delli//OneDrive//Desktop//C Questions(Patterns)//Hollow Patterns.txt",'w') as file:
    print(file.write('abcesdadad'))

10

In [21]:
with open("C://Users//delli//OneDrive//Desktop//C Questions(Patterns)//Hollow Patterns.txt",'a') as file:
    print(file.write('abcesdadad'))

10