In [1]:
a = "ashutosh tiwari"
print(a[0:4])

ashu

In [2]:
print(a[2:8:3])

ho

In [10]:
print(a[-8:-4:-2])

In [13]:
print(a[9:2:-1])

t hsotu

In [18]:
b = 'question'
print(b[:])

question

In [2]:
n = int(input())
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

 6

720

In [3]:
a = ['iadjiad','sadkadj']
for i in a:
    print(i.upper())

IADJIAD
SADKADJ

In [4]:
n = 123
rev = 0
while(n!=0):
    digit = n%10
    rev = rev*10 + digit
    n=n//10
print(rev)

321

In [6]:
n = 1231298
count = 0
while(n!=0):
    digit = n%10
    count+=1
    n//=10
print(count)

7

In [10]:
a = 0
b = 1
n=int(input())
while(n<=10):
    print(a)
    a,b = b,a+b
    n+=1

 1

0
1
1
2
3
5
8
13
21
34

In [11]:
d = {1:2,2:4}
for i,j in d.items():
    print(i,":",j)

1 : 2
2 : 4

In [12]:
n = 123
sum = 0
while(n!=0):
    digit = n%10
    sum = sum + digit
    n//=10
print(sum)

6

In [15]:
for i in range(2,51):
    is_prime = True
    for div in range(2,int(i**0.5)+1):
        if(i%div==0):
            is_prime = False
            break
    if is_prime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [16]:
a = "ashutosh"
rev = ''
for i in a:
    rev = i + rev
print(rev)

hsotuhsa

In [32]:
a = ['sajhdjahda','adkadjakdadhajsd','sdjahdja','sadj']
max = 0
for i in a:
    if(len(i)<max):
        max = len(i)
        max_word = i
print(max_word)

adkadjakdadhajsd

In [33]:
a = ['sajhdjahda','adkadjakdadhajsd','sdjahdja','sadj']

for i in a:
    if(i[0]=='a' or i[0]=='e'):
        print(i)

adkadjakdadhajsd

In [34]:
i = int(input())
for n in range(1,11):
    print(f" {n}X{i} = {n*i} ")

 8

 1X8 = 8
 2X8 = 16
 3X8 = 24
 4X8 = 32
 5X8 = 40
 6X8 = 48
 7X8 = 56
 8X8 = 64
 9X8 = 72
 10X8 = 80

In [36]:
n = input()
a = []

while(n!="stop"):
    n = input()
    a.append(n)
print(a)

 jkakd
 akjdak
 asdjkad
 jfkajkd
 stop

['akjdak', 'asdjkad', 'jfkajkd', 'stop']

In [37]:
a = [1,2,3,4,5,6,7,8,8,9]
sum = 0
for i in a:
    if(i%2==0):
        i = i**2
        sum = i+sum
print(sum)

184

In [39]:
n = int(input())
p = 1
fact = 1
while(p<=n):
    fact = fact *p
    p+=1
print(fact)

 6

720

In [40]:
a = [1,2,3,4,5,6,7,8,9]
b = []

for i in a:
    if(i%2!=0):
        i = i**2
        b.append(i)
print(b)

[1, 9, 25, 49, 81]

In [41]:
a = ['adjkada','sja','adkjakda','akjdakdad','asj']
count = 0
for i in a:
    if(len(i)>=5):
        count+=1
print(count)

3

In [44]:
a = [(2,2),(3,4),(4,4),(6,6)]
for i in a:
    if(i[0]%2==0 and i[1]%2==0):
        print(i)

(2, 2)
(4, 4)
(6, 6)

In [48]:
a = [1,2,2,34,6,2]
max = a[0]
for i in a:
    if(i>max):
        max = i
        ind = a.index(i)
print(ind)

3

In [61]:
for i in range(100,100000):
    temp = i
    sum = 0
    temp1 = str(temp)
    while(i!=0):
        digit = i%10
        sum = sum + digit **len(temp1)
        i//=10
    if(sum==temp):
        print("Arm",sum)

Arm 153
Arm 370
Arm 371
Arm 407
Arm 1634
Arm 8208
Arm 9474
Arm 54748
Arm 92727
Arm 93084

In [64]:
n = 1332
temp = n
rev = 0

while(n!=0):
    digit = n%10
    rev = rev*10 + digit
    n//=10
if(rev==temp):
    print("pali")
else:
    print("not")

not

In [86]:
s = {1,2,3,4,5}
a = {7,8,5,2,4,2,1}
c = a.issubset(s)
c

False

In [1]:
sp = 120
cp = 140

if(sp>cp):
    print("profit")
else:
    print("Loss")

Loss

In [4]:
a = 60
b = 60
c = 60
if(a+b+c==180):
    print("Perfect")
else:
    print("Not")

Perfect

In [6]:
a = 60
b = 50
c = 50

if(a==b or a==c or b==a or b==c or c==a or c==b):
    print("True")
else:
    print("Not")

True

In [12]:
bs = 9000

if(bs<=10000):
    hr = bs - bs*20/100
    print(hr)

7200.0

In [14]:
te = 120

if(te<=50):
    te = te*2
    print(te)
elif(te>50 and te<=150):
    te = te*3
    print(te)

360

In [20]:
ye = 2020

if (ye % 400 == 0):
    print("leap")
elif (ye % 100 == 0):
    print("normal")
elif (ye % 4 == 0):
    print("leap")
else:
    print("normal")

leap

In [22]:
n = 10
pop = 10000
while(n>=1):
    pop = pop-pop*10/100
    n-=1
    print(pop)

9000.0
8100.0
7290.0
6561.0
5904.9
5314.41
4782.969
4304.6721
3874.20489
3486.784401

In [23]:
n = 1
sum = 0
while(n<=10):
    sum = sum + n
    n+=1
print(sum)

55

In [28]:
a = int(input())
sum = 0
count = 0
avg = 0
while(a!=0):
    a = int(input())
    count+=1
    sum = a + sum
    avg = sum/count
print(sum)
print(avg)

 2
 34
 1
 3
 4
 5
 25
 2
 4
 0

78
8.666666666666666

In [29]:
a = [(1,2),(2,2),(2,4)]
for i in a:
    if(i[0]!=i[1]):
        print(i)

(1, 2)
(2, 4)

In [33]:
n = 5
for r in range(1,n+1):
    for c in range(r):
        print("*",end= '')
    print()

*
**
***
****
*****

In [55]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(" ",end = '')
    for c in range(1,r+1):
        print("",c,end = '')
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [43]:
n = 5
for r in range(1,n+1):
    
    for c in range(n-r+1):
        print("* ",end = '')
    print()

* * * * *
* * * *
* * *
* *
*

In [52]:
n = 5
for r in range(1,n+1):
    for s in range(r-1):
        print(" ",end = '')
    for c in range(n-r+1):
        print("* ",end = '')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [56]:
n = 5

for r in range(1,2*n+1):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n-total
    for s in range(nfs+1):
        print(' ',end = '')
    for c in range(1,total+1):
        print("",c,end = '')
    print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5
   1 2 3 4
    1 2 3
     1 2
      1

In [72]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    for c in range(1,total+1):
        print(chr(65+c),end = '')
    print()

B
BC
BCD
BCDE
BCDEF
BCDE
BCD
BC
B

In [144]:
n = 5

for r in range(1,2*n+1):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n
    nfs = n - total
    for s in range(nfs+1):
        print(' ',end ='')
    for c in range(1,total+1):
        print(chr(65+c-1),end = '')
    print()

 ABCDE
  ABCD
   ABC
    AB
     A
     A
    AB
   ABC
  ABCD
 ABCDE

In [116]:
n = 5
for r in range(1,n+1):
    for c in range(1,n+1):
        if(r==1 or r==n or c == 1 or c==5):
            print(chr(65+c-1),end = '')
        else:
            print(" ",end = '')
    print()

ABCDE
A   E
A   E
A   E
ABCDE

In [138]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(" ",end = '')
    for c in range(1,r+1):
        if( r==5 or c == 1 or c == r):
            print("* ",end= '')
        else:
            print("  ",end = '')
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [142]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        if(r==5 or c==1 or c==r):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

*
* *
*   *
*     *
* * * * *

In [143]:
**********
****  ****
***    ***
**      **
*        *
**      **
***    ***
****  ****
**********

SyntaxError: invalid syntax (38698648.py, line 1)

In [156]:

n =  5
for r in range(1,2*n):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n+1
    for c in range(1,total+1):
        print("* ",end = '')
    print()

for r in range(1,2*n):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n+1
    nfs = n - total
    for s in range(nfs+1):
        print(' ',end ='')
    for c in range(1,total+1):
        print("*",end = '')
    print()

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *
 *****
  ****
   ***
    **
     *
    **
   ***
  ****
 *****

In [157]:
n = 5

# Print the upper inverted triangle
for r in range(0, n):
    # Print the stars on the left side
    for c in range(n - r):
        print("*", end="")
    
    # Print spaces in the middle
    for s in range(2 * r):
        print(" ", end="")
    
    # Print the stars on the right side
    for c in range(n - r):
        print("*", end="")
    
    print()  # Move to the next line

# Print the lower triangle
for r in range(1, n + 1):
    # Print the stars on the left side
    for c in range(r):
        print("*", end="")
    
    # Print spaces in the middle
    for s in range(2 * (n - r)):
        print(" ", end="")
    
    # Print the stars on the right side
    for c in range(r):
        print("*", end="")
    
    print()  # Move to the next line

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [7]:
n = 5

for r in range(1,n+1):
    for c in range(1,r+1):
        if(c==1 or c==r or r==n):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

*
* *
*   *
*     *
* * * * *

In [20]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(" ",end = '')
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print("*",end = '')
        else:
            print(" ",end = '')
    print()

    *
   **
  * *
 *  *
*****

In [42]:
n = 5
for r in range(1,2*n+1):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n - total
    for s in range(nfs+1):
        print(' ',end = '')
    for c in range(1,total+1):
        if(c==1 or c==r or c == total):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

     *
    * *
   *   *
  *     *
 *       *
  *     *
   *   *
    * *
     *

In [22]:
n = 5
for r in range(1,2*n+1):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n
    nfs = n - total
    for s in range(nfs+1):
        print(" ",end = '')
    for c in range(1,total+1):
        if(c==1 or c==total  or r==1 or r==2*n):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

 * * * * *
  *     *
   *   *
    * *
     *
     *
    * *
   *   *
  *     *
 * * * * *

In [59]:
a = [num%2!=0 for num in range(1,25)]

In [62]:
string="Hi my name is Govind Das and my mail id is milindmali108@gmail.com and my org"
a = string.split()


for i in a:
    if(i.endswith(".com")):
        print(i)

milindmali108@gmail.com

In [72]:
n = 5

for r in range(1,n+1):
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print(c,end= ' ')
        else:
            print('  ',end = '')
    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [83]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(' ',end = '')
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print('* ',end = '')
        else:
            print('  ',end = '')
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [104]:
n = 5
num = 1
for r in range(1,2*n+1):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n - total
    for s in range(nfs+1):
        print(' ',end = '')
    for c in range(1,total+1):
        if(c==1 or c==total):
            print(num,end = ' ')
            num+=1
        else:
            print("  ",end ='')
    print()

     1
    2 3
   4   5
  6     7
 8       9
  10     11
   12   13
    14 15
     16

In [109]:
n = 5
for r in range(1,2*n+1):
    if(r<=n):
        total = n-r+1
    else:
        total = r-n+1
    for c in range(1,total+1):
        if(c==1 or r==1 or c==total or r==2*n):
            print('*',end = '')
        else:
            print(' ',end = '')
    print()

*****
*  *
* *
**
*
**
* *
*  *
*   *
******

In [5]:
class Book:
    def __init__(self,title,author):
        self.__title = title
        self.__author = author
    def get_title(self):
        return self.__title
    def set_title(self,title):
        self.__title = title
    def get_author(self):
        return self.__author
    def set_author(self,author):
        self.__author = author
a = Book("VK","ME")
a.get_title()
a.get_author()   
a.set_title("Ashut")
a.get_title()

'Ashut'

In [13]:
class Emp:
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        raise NotImplementedError("XYZ")
class Manager(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary**2
class Intern(Emp):
    def __init__(self,salary):
        self.__salary = salary
    def cal(self):
        return self.__salary/2

a = Manager(23)
a.cal()

529

In [32]:
def make(func):
    def wrapper(name):
        print(f"My name is {name}")
        func(20)
        print("Function Ended")
    return wrapper
@make
def new(age):
    print(f"My age is {age}")
new("Ashutosh")

My name is Ashutosh
My age is 20
Function Ended

In [16]:
class MyClass:
    def __new__(cls, *args, **kwargs):
        print("Creating instance")
        instance = super(MyClass, cls).__new__(cls)
        return instance

    def __init__(self, value):
        print("Initializing instance")
        self.value = value

obj = MyClass(10)

Creating instance
Initializing instance

AttributeError: 'set' object has no attribute 'superset'

In [1]:
a = "Ashutosh "
len(a)

9

In [23]:
a = 'adkjskjsd'
a.isnumeric()

False

In [28]:
a = 10
b = 20

a = a+b
b = a-b
a = a-b
print(a)
print(b)

20
10

In [33]:
n = 5

for r in range(1,n+1):
    for c in range(1,n+1):
        if(c==1 or r==n or r==1 or c==5):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [39]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        print(chr(65+c-1),end = '')
    print()

A
AB
ABC
ABCD
ABCDE

In [50]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(' ',end = '')
    for c in range(1,r+1):
        if(r==5 or c==1 or c==r):
            print(c,end = '')
        else:
            print(" ",end = '')
    print()

    1
   12
  1 3
 1  4
12345

In [70]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(" ",end = '')
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print("* ",end = '')
        else:
            print('  ',end = '')
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [98]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    for c in range(1,total+1):
        if(c==1 or c==total):
            print("* ",end = '')
        else:
            print(' ',end = '')
    print()

*
* *
*  *
*   *
*    *
*   *
*  *
* *
*

In [97]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n - total
    for s in range(nfs+1):
        print(" ",end = '')
    for c in range(1,total+1):
        if(c==1 or c==total):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

     *
    * *
   *   *
  *     *
 *       *
  *     *
   *   *
    * *
     *

In [104]:
d = {1:1,2:2,3:3,4:4}
d[4]=5
d.popitem()

(4, 5)

In [2]:
n =1332
temp = n
rev = 0

while(n!=0):
    digit = n%10
    rev = rev*10 + digit
    n//=10
print(rev)

2331

In [5]:
n = 153
rev = 0
while(n!=0):
    digit = n%10
    rev = rev + digit**3
    n//=10
print(rev)

153

In [9]:
n = 5
for r in range(1,n+1):
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print("* ",end = '')
        else:
            print("  ",end = '')
    print()

*
* *
*   *
*     *
* * * * *

In [14]:
n = 5
for r in range(1,n+1):
    for s in range(n-r):
        print(" ",end = '')
    for c in range(1,r+1):
        if(c==1 or r==5 or c==r):
            print("* ",end = '')
        else:
            print('  ',end = '')
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [36]:
n = 5
for r in range(1,2*n):
    if(r<=n):
        total = r
    else:
        total = 2*n-r
    nfs = n-total
    for s in range(nfs+1):
        print(" ",end = '')
    for c in range(1,total+1):
        if(c==1 or c==total):
            print("* ",end = '')
        else:
            print('  ',end= '')
    print()

     *
    * *
   *   *
  *     *
 *       *
  *     *
   *   *
    * *
     *

In [23]:
a = 'ashutosh'
rev = ''
for i in a:
    rev = i+rev
print(rev)

hsotuhsa

In [29]:
a = "My name is Ashutosh"
b = a.split()
rev = ''
for i in b:
    rev = i+" "+ rev
print(type(rev))

<class 'str'>

In [30]:
a = [1,4,3,2,54,5,2]

for i in range(0,len(a)):
    for j in range(1+i,len(a)):
        if(a[i]>a[j]):
            a[i],a[j] = a[j],a[i]
print(a)

[1, 2, 2, 3, 4, 5, 54]

[1, 2, 2, 3, 4, 5, 54]

In [34]:
def make(func):
    def wrap(name):
        print(f"My name is {name}")
        func(20)
        print("Function ended")
    return wrap

@make
def wow(age):
    print(f"My age {age}")
wow("Ashutosh")

My name is Ashutosh
My age 20
Function ended

In [40]:
a = [1,2,3,4,5,1]
max = a[0]

for i in a:
    if(i>max):
        max = i
print(max)

5