# Sets-> Sets are an unordered collection of unique items.They are used to store multiple items in a single variable and they have multiple properties.

In [4]:
#Creating a set.

s = {1,2,3,47,89,"Ashutosh","Mohit","Rahul"}
print(type(s),s)

<class 'set'> {1, 2, 3, 'Mohit', 'Rahul', 'Ashutosh', 47, 89}

In [5]:
#Function for adding an element in the set. {s.add()}
s = {1,2,3,4}
s.add(7)
print(s)

{1, 2, 3, 4, 7}

In [7]:
#Remove function is used for removing an element from the set.
s = {1,2,3,4}
s.remove(2)
print(s)

{1, 3, 4}

In [10]:
#Discard is also used for removing an element from the set. But it does not raise an error if the element is not found in the set.
s = {1,2,3,4,76,98}
s.discard(4)
print(s)

{1, 2, 3, 98, 76}

In [11]:
#Clear function is used to empty the whole list.
s = {1,2,3,5}
s.clear()
print(s)

set()

In [1]:
# Union = Returns a new set with all the elements of both the sets.
s1 = {1,2,3,4,5,"Ashutosh Tiwari"}
s2 = {1,2,3,"Vikas"}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 'Ashutosh Tiwari', 'Vikas'}

In [15]:
# Intersection = Returns a new set with only the common elements present in the set.
s1 = {1,2,3,4,78}
s2 = {3,4,1,2,54}

s3 = s1.intersection(s2)
print(s3)

{1, 2, 3, 4}

In [17]:
# symmetric_difference(other): Returns a new set with elements that are not present in both the sets.
s1 = {1,2,3,4,56}
s2 = {1,2,3,4,98,21}
s3 = s1.symmetric_difference(s2)
print(s3)

{98, 21, 56}

In [21]:
#{issubset()} If the elements of a set is present in the other set then it will return true. Otherwise it will return false.
s1 = {1,2,3,4}
s2 = {1,2,3,4}
s3 = s1.issubset(s2)
print(s3)

True

In [5]:
a = []
n = int(input("Enter a value"))

for i in range(n):
    val = int(input())
    a.append(val)
print(a)

[12, 12, 32]
12
12
32

In [8]:
#Frozen set does not allow any addition or removal of elements
#But it allows all the arthematic operations like union,intersection,difference,symmetric_difference between two sets.
a = frozenset("Hellow")
print(a)
print(type(a))

frozenset({'l', 'e', 'H', 'w', 'o'})
<class 'frozenset'>